* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Inter, sans-serif;
}

header{
    background: #eee;
    margin-bottom: 16px;
    display: flex;
}

header nav {
    padding: 24px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

header nav a {
    color: #1e1e1e;
}

.box{
    background-color: #eee;
    padding: 24px;
}

.sidebar {
    background-color: #1e1e1e;
    color: #eee;
}

.sidebar,
.main-content{
    font-weight: bold;
    padding: 24px;
}

.card {
    height: 200px;
    background-color: #eee;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .sidebar {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar.fixed-width{
        max-width: 272px;
    }
}
